body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 25px;
  letter-spacing: 1px;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes slidePotraitIn {
  from {
    margin-top: -200px;
    opacity: 0;
  }
  to {
    margin-top: 15px;
    opacity: 1;
  }
}
@keyframes slideTextIn {
  from {
    margin-left: -500px;
  }
  to {
    margin-left: 0;
  }
}
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
header {
  padding-top: 40px;
  background: url('../images/backgrounds/bg.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
header > div {
  position: relative;
  z-index: 2;
}
header > div h1,
header > div h2,
header > div p {
  color: #fff;
}
header > div h1 {
  font-size: 60px;
  margin-bottom: 0;
}
header > div h2 {
  font-size: 32px;
  margin: 0 0 20px 0;
}
header > div p:last-of-type {
  padding-bottom: 20px;
}
header > div a {
  font-size: 18px;
  display: block;
  line-height: auto;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  color: #fff;
}
header > div a:hover,
header > div a:focus {
  text-decoration: none;
  color: #fff;
}
header > div a:hover ~ img,
header > div a:focus ~ img {
  transform: scale(1.1);
}
header > div img {
  height: 45px;
  width: 45px;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
header > div #phone {
  background: url('../images/assets/iphone.png') no-repeat center center;
  background-size: cover;
  height: 400px;
}
header > div #phone .phone-inside {
  background-color: #fff;
  height: 293px;
  width: 166px;
  margin: 0 auto;
  position: relative;
  top: 52px;
  padding: 15px;
  overflow: hidden;
}
header > div #phone .phone-inside h4 {
  color: #004e92;
  text-align: center;
  word-break: break-all;
  -webkit-animation: slideTextIn 0.8s linear;
  /* Safari 4.0 - 8.0 */
  animation: slideTextIn 0.8s linear;
}
header > div #phone .phone-inside img {
  margin: 0 auto;
  display: block;
}
header > div #phone .phone-inside img.portrait {
  border: 3px solid #004e92;
  border-radius: 100%;
  height: 65px;
  width: 65px;
  -webkit-animation: slidePotraitIn 0.8s linear;
  /* Safari 4.0 - 8.0 */
  animation: slidePotraitIn 0.8s linear;
}
header > div #phone .phone-inside img.emoji {
  width: 25px;
  height: 25px;
  display: inline-block;
  animation: wave 0.5s ease 0.8s 3;
}
header > div #phone .phone-inside h4 {
  color: #004e92;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}
header > div #phone .phone-inside p {
  color: #004e92;
  padding: 0;
  margin: 0;
  font-size: 12px;
  display: block;
  text-align: center;
}
header > div #phone .phone-inside p span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}
header > div #phone .phone-inside p.statistic {
  position: absolute;
  bottom: 2px;
}
header > div #phone .phone-inside p.statistic.repos {
  right: 10px;
}
header > div #phone .phone-inside p.statistic.issues {
  left: 72px;
}
header > div #phone .phone-inside p.statistic.commits {
  left: 10px;
}
header > div #phone .phone-inside .update-clock {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 3px solid #004e92;
  margin: auto;
  margin-bottom: 5px;
}
header > div #phone .phone-inside .update-clock .ticker {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: tick 5s infinite linear;
}
header > div #phone .phone-inside .update-clock .ticker:before {
  content: "";
  position: absolute;
  top: 15px;
  background-color: black;
  height: 15px;
  width: 3px;
}
header > div #phone .phone-inside .update-clock .top-marker,
header > div #phone .phone-inside .update-clock .right-marker,
header > div #phone .phone-inside .update-clock .bottom-marker,
header > div #phone .phone-inside .update-clock .left-marker {
  position: absolute;
  background: #262626;
  margin: 0 auto;
}
header > div #phone .phone-inside .update-clock .top-marker,
header > div #phone .phone-inside .update-clock .bottom-marker {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 3px;
  height: 3px;
}
header > div #phone .phone-inside .update-clock .left-marker,
header > div #phone .phone-inside .update-clock .right-marker {
  margin: auto 0;
  width: 3px;
  height: 3px;
  top: 0;
  bottom: 0;
}
header > div #phone .phone-inside .update-clock .top-marker {
  top: 0;
}
header > div #phone .phone-inside .update-clock .right-marker {
  right: 0;
}
header > div #phone .phone-inside .update-clock .bottom-marker {
  bottom: 0;
}
header > div #phone .phone-inside .update-clock .left-marker {
  left: 0;
}
@keyframes tick {
  to {
    transform: rotate(360deg);
  }
}
header:after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, #1A2980 100%);
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 1;
}
.gradient-wrapper {
  background: #1A2980;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1A2980, #26D0CE);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1A2980, #26D0CE);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.about-panel {
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
}
.about-panel h3 {
  color: #fff;
  text-align: center;
}
.about-panel p {
  color: #fff;
  text-align: center;
}
.about-panel img {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  display: block;
}
.projects-panel {
  padding-top: 35px;
  position: relative;
}
.projects-panel h3 {
  color: #fff;
  height: 60px;
  text-align: left;
}
.projects-panel p.subtitle {
  color: #dedede;
}
.projects-panel h2 {
  color: #fff;
  margin-bottom: 5px;
}
.projects-panel .project-app {
  margin-bottom: 45px;
}
.projects-panel .phone {
  background: url('../images/assets/iphone.png') no-repeat center center;
  background-size: cover;
  height: 400px;
  position: relative;
  z-index: 2;
  margin-bottom: 25px;
}
.projects-panel img {
  margin: 25px auto;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.projects-panel img:hover,
.projects-panel img:focus {
  transform: scale(1.1);
  margin-bottom: 25px;
}
.projects-panel .app-description {
  margin-top: 50px;
}
.projects-panel .app-description h3 {
  height: auto;
  color: #fff;
  font-size: 23px;
}
.projects-panel .app-description p {
  color: #fff;
}
.projects-panel .app-description a {
  color: #cccccc;
}
.projects-panel .app-description h6 {
  color: #dedede;
  margin-bottom: 20px;
  font-size: 18px;
}
.projects-panel .project-caption {
  color: #fff;
  font-size: 10px;
  font-weight: 200;
  text-align: center;
}
.projects-panel .project-caption a {
  color: #cccccc;
}
.skills-panel {
  padding-bottom: 20px;
}
.skills-panel h2 {
  margin-bottom: 5px;
}
.skills-panel h2,
.skills-panel h3,
.skills-panel p {
  color: #fff;
}
.skills-panel ul li {
  color: #fff;
  margin-bottom: 8px;
  font-size: 14px;
}
.skills-panel ul li,
.skills-panel ul span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.skills-panel p.subtitle {
  color: #dedede;
}
.skills-panel.front-end ul li span,
.skills-panel.back-end ul li span {
  background: url('../images/icons/thumbs-up-white.png') no-repeat bottom left;
  background-size: contain;
  height: 15px;
  width: 15px;
  display: inline-block;
  padding-left: 25px;
}
.skills-panel.front-end ul li:hover span,
.skills-panel.back-end ul li:hover span,
.skills-panel.front-end ul li:focus span,
.skills-panel.back-end ul li:focus span {
  transform: translate(3px, 0px);
}
.skills-panel.front-end ul.sub-experience li span,
.skills-panel.back-end ul.sub-experience li span {
  background: url('../images/icons/star-white.png') no-repeat bottom left;
  background-size: contain;
}
.skills-panel.front-end ul.sub-experience li:hover span,
.skills-panel.back-end ul.sub-experience li:hover span,
.skills-panel.front-end ul.sub-experience li:focus span,
.skills-panel.back-end ul.sub-experience li:focus span {
  transform: translate(3px, 0px);
}
.skills-panel.front-end img,
.skills-panel.back-end img {
  margin: 25px auto;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.skills-panel.front-end img:hover,
.skills-panel.back-end img:hover,
.skills-panel.front-end img:focus,
.skills-panel.back-end img:focus {
  transform: scale(1.1);
  margin-bottom: 25px;
}
.skills-panel.front-end .project-caption,
.skills-panel.back-end .project-caption {
  color: #fff;
  font-size: 10px;
  font-weight: 200;
  margin-bottom: 20px;
}
.skills-panel.front-end .project-caption a,
.skills-panel.back-end .project-caption a {
  color: #cccccc;
}
.skills-panel.front-end {
  position: relative;
  z-index: 2;
}
.skills-panel.university {
  position: relative;
  z-index: 1;
}
.skills-panel.university h3 {
  color: #004e92;
  margin-bottom: 15px;
  text-align: center;
}
.skills-panel.university h3.placement {
  margin-bottom: 5px;
}
.skills-panel.university .placement-text-wrapper img {
  height: 50px;
  margin: 0 auto;
  display: block;
}
.skills-panel.university p.subtitle {
  color: #dedede;
  text-align: center;
}
.skills-panel.university ul li {
  margin-bottom: 8px;
  text-align: center;
}
.skills-panel.university ul li:hover span,
.skills-panel.university ul li:focus span {
  transform: scale(1.3);
  font-weight: bold;
}
.skills-panel.university ul li span {
  padding-left: 2px;
  display: inline-block;
}
.skills-panel.projects .subtitle {
  margin-bottom: 30px;
}
.skills-panel.projects .card {
  background: url('../images/backgrounds/bg.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: 250%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  border-radius: 18px;
  padding: 18px;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.09), 0 4px 6px rgba(0, 0, 0, 0.09);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  height: 210px;
  margin-bottom: 35px;
  position: relative;
}
.skills-panel.projects .card:after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, #1A2980 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  z-index: 1;
}
.skills-panel.projects .card:hover,
.skills-panel.projects .card:focus {
  box-shadow: 0 18px 34px rgba(0, 0, 0, 0.09), 0 8px 14px rgba(0, 0, 0, 0.09);
  transform: scale(1.04);
}
.skills-panel.projects .card h3,
.skills-panel.projects .card p {
  color: #fff;
  position: relative;
  z-index: 3;
}
.skills-panel.projects .card h3 {
  font-size: 18px;
  margin-top: 0;
  font-weight: bold;
}
.skills-panel.projects .card p {
  line-height: 22px;
}
.skills-panel.projects .card p a {
  color: #cccccc;
}
.skills-panel.projects .card span {
  position: absolute;
  bottom: 10px;
  color: #dedede;
  text-align: center;
  display: block;
  z-index: 3;
  left: 0;
  right: 0;
}
.skills-panel.contact {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}
.skills-panel.contact p a {
  color: #dedede;
  font-weight: 800;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.skills-panel.contact p a:hover,
.skills-panel.contact p a:focus {
  text-decoration: none;
  color: #004e92;
}
.skills-panel.contact h2 {
  margin-bottom: 5px;
}
.skills-panel.contact h2 img {
  width: 35px;
  height: 35px;
  animation: wave 0.5s ease 0.8s 3;
}
.skills-panel.contact .social a {
  display: inline-block;
}
.skills-panel.contact .social a img {
  width: 65px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.skills-panel.contact .social a img.linkedin {
  width: 30px;
  margin-right: 15px;
}
.skills-panel.contact .social a img.github {
  width: 30px;
}
.skills-panel.contact .social a img.stackoverflow {
  width: 30px;
}
.skills-panel.contact .social a img:hover,
.skills-panel.contact .social a img:focus {
  transform: scale(1.1);
}
.skills-panel.contact .blog-content a {
  display: block;
  margin-bottom: 10px;
}
.skills-panel.contact .blog-content a.blog-link {
  font-size: 12px;
  color: #dedede;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.skills-panel.contact .blog-content a.blog-link:hover,
.skills-panel.contact .blog-content a.blog-link:focus {
  text-decoration: none;
  color: #004e92;
}
.skills-panel.contact #blog-wrapper {
  background-color: #004e92;
  background: url('../images/backgrounds/bg.jpg') no-repeat center center;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  background-attachment: fixed;
  background-size: 250%;
  position: relative;
  border-radius: 18px;
  padding: 18px;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.09), 0 4px 6px rgba(0, 0, 0, 0.09);
}
.skills-panel.contact #blog-wrapper:after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, #1A2980 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 18px;
  z-index: 1;
}
.skills-panel.contact #blog-wrapper h4,
.skills-panel.contact #blog-wrapper a,
.skills-panel.contact #blog-wrapper span,
.skills-panel.contact #blog-wrapper h4 a,
.skills-panel.contact #blog-wrapper p {
  z-index: 3;
  position: relative;
}
.skills-panel.contact #blog-wrapper h4 {
  margin-bottom: 0;
}
.skills-panel.contact #blog-wrapper h4 a {
  margin-bottom: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.skills-panel.contact #blog-wrapper h4 a:hover,
.skills-panel.contact #blog-wrapper h4 a:focus {
  text-decoration: none;
  color: #cccccc;
  cursor: pointer;
}
.skills-panel.contact #blog-wrapper span {
  font-size: 12px;
  display: block;
  margin: 10px 0;
  color: #dedede;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
.skills-panel.contact #blog-wrapper a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  color: #dedede;
}
.skills-panel.contact #blog-wrapper a:hover,
.skills-panel.contact #blog-wrapper a:focus {
  text-decoration: none;
  color: #004e92;
  cursor: pointer;
}
.skills-panel.contact #blog-wrapper * {
  color: #fff;
}
.skills-panel.photography h2 {
  margin-bottom: 10px;
}
.skills-panel.photography iframe {
  width: 100% !important;
}
.skills-panel.photography .flickr-embed .flickr-embed-photo {
  margin: 0 auto;
}
.skills-panel.photography p a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.skills-panel.photography p a:hover,
.skills-panel.photography p a:focus {
  color: #004e92;
  text-decoration: none;
}
footer {
  background-color: #26D0CE;
  padding-top: 12px;
  padding-bottom: 12px;
}
footer p,
footer p a {
  color: #fff;
  margin: 0;
  font-size: 12px;
  display: block;
}
footer span {
  font-size: 10px;
}
footer p a {
  margin-top: -5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
footer p a:hover,
footer p a:focus {
  color: #004e92;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .projects-panel {
    padding-top: 0;
  }
  .projects-panel h2 {
    text-align: center;
  }
  .projects-panel p.subtitle {
    text-align: center;
  }
  .projects-panel .app-description {
    margin-top: 0;
  }
  .skills-panel h2 {
    text-align: center;
  }
  .skills-panel p.subtitle {
    text-align: center;
  }
  .skills-panel.university .card {
    height: 200px;
  }
  .contact .social {
    width: 183px;
    margin: 0 auto;
  }
  .contact .social p {
    text-align: center;
  }
  .contact .blog-content a {
    text-align: center;
  }
  .contact .blog-content #blog-wrapper a {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  header #phone-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about-panel {
    padding-top: 25px;
    padding-bottom: 0;
  }
  .about-panel h3 {
    height: auto;
  }
  .about-panel p {
    margin-bottom: 35px;
  }
  .projects-panel {
    padding-top: 0;
  }
  .projects-panel h2 {
    text-align: center;
  }
  .projects-panel p.subtitle {
    text-align: center;
  }
  .projects-panel .app-description {
    margin-top: 0;
  }
  .skills-panel {
    padding-top: 0;
  }
  .skills-panel h3 {
    text-align: left;
  }
  .skills-panel h2 {
    text-align: center;
  }
  .skills-panel p.subtitle {
    text-align: center;
  }
  .skills-panel.front-end ul li {
    text-align: left;
  }
  .skills-panel.projects .card {
    height: auto;
    padding-bottom: 30px;
  }
  .skills-panel.photography iframe {
    height: 330px !important;
  }
  .skills-panel.contact h2 {
    text-align: center;
  }
  .skills-panel.contact .social {
    width: 183px;
    margin: 0 auto;
  }
  .skills-panel.contact .social p {
    text-align: center;
  }
  .skills-panel.contact .blog-content a {
    text-align: center;
  }
  .skills-panel.contact .blog-content #blog-wrapper a {
    text-align: left;
  }
  .project-caption {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */